<%- include('../partials/header') %>

<br><br>
<br><br>
<h2>Welcome back Admin!</h2>
<br><br>

<h1>Current Product List</h1>
<table class="table table-striped" id="productList">
  <thead> 
    <tr>
      <th>Product Name</th>
      <th>Product Type</th>
      <th>Product Flavour</th>
      <th>Price</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% product.forEach(function(product) { %>
    <tr>
      <td><%= product.productName %></td>
      <td><%= product.productType %></td>
      <td><%= product.productFlavor %></td>
      <td><%= product.price %></td>
      <td>
          <form action="/products-current/<%=product.id %>?_method=DELETE" method="POST" class="secondary-content">
            <button type="submit" class="btn-small red-text">X</button>
          </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<br><br>
<h1>New product? </h1>
<h3>Add below!</h3>
<br><br>

<div class="productForm">
<form
  method="POST"
  action="/products-current"
  class="form-horizontal"
  id="new_product"
>
  <div class="form-group ">
    <label for="productName" class="form-label">
      Product Name
    </label>
      <input
        id="productName"
        type="text"
        name="productName"
        class="form-control"
        placeholder="product-flavour"
      />
  </div>
  <br>
  <div class="form-group">
    <div>
    <label for="productType" class="form-label">
      Product Type
    </label> </div>
      <select class="" id="productType" name="productType">
        <option value="Cheese Cake">Cheese Cake</option>
        <option value="Ugly Cookie">Ugly Cookie</option>
        <option value="Canele">Canele</option>
      </select>
  </div>
  <br>
  <div class="form-group ">
    <label for="productFlavor" class=" form-label">
      Product Flavor</label>
      <input
        id="productFlavor"
        name="productFlavor"
        type="string"
        class="form-control"
      />
  </div>
  <br>
  <div class="form-group">
    <label for="price" class="form-label"> Price </label>
      <input id="price" name="price" type="number" class="form-control" />
    </div>
<div>
  <br>
  <button type="submit" class="btn btn-warning">Submit</button>
  <br>
</div>
 <br><br>
</form>
<div class="adminBtn">
  <a href="/admin" class="btn btn-primary"> Back to Admin Page </a>
  </div>
</div>

<%- include('../partials/footer') %>
