<%- include('../partials/header') %>
<h2>Welcome back Admin! <br> Here's your current product list.</h2>
<br><br>

<h1>Current Orders</h1>
<% if (orders.length) { %>
<table id="orderList">
  <thead>
    <tr>
      <th>no.</th>
      <th>Customer Name</th>
      <th>Customer Phone</th>
      <th>PickupLocation</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Total $</th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(function(order) { %>
    <tr>
      <td><%= orders.length %></td>
      <td><%= order.customerName %></td>
      <td><%= order.customerPhone %></td>
      <td><%= order.pickupLocation %></td>
      <td><%= order.product %></td>
      <td><%= order.quantity %></td>
      <td><%= order.total %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Customer ordered Yet</h5>
<% } %> <%- include('../partials/footer') %>
